@import "https://assets.loupbrun.ca/fonts/booster/stylesheet.css";

html {
  font-family: "Booster Next FY", "Avenir Next", Avenir, sans-serif;
}

.grid-container {
  /* max-height: 100%; */

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 7fr;
  gap: 0px 0px;
  /* position: fixed;
  height: 100%;
  overflow-y: auto; */
  grid-template-areas:
    "A D"
    "B D";
}

.A {
  grid-area: A;
}

.B {
  grid-area: B;
  margin-top: -20px !important;
}

.C {
  grid-area: C;
  margin-top: -200px !important;
}

.D {
  grid-area: D;
}

.headerbar {
}

.chart {
  padding-left: 5vh;
  /* width: 800px; */
}

.sidebar {
  background-color: #FF0000;

}
