@import "https://assets.loupbrun.ca/fonts/booster/stylesheet.css";

html {
  font-family: "Booster Next FY", "Avenir Next", Avenir, sans-serif;
}

#map {
  /* position: relative; */
  width: 1200px;
  height: 800px;
  margin: -20% 35%;
  display: block;
}

#fullChart {
  width: 10vw;
  height: 120vh;
  text-align: center;
}

#tooltip {
    position: absolute;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid lightgrey;
    font-size: small;
    padding: 5px;
}


.layer, .layer svg {position: absolute;}
.layer svg {
width: 60px;
height: 60px;
padding-right: 100px;
font: 10px sans-serif;
}
