@import "https://assets.loupbrun.ca/fonts/booster/stylesheet.css";

html {
  font-family: "Booster Next FY", "Avenir Next", Avenir, sans-serif;
}

.fullsidebar {
  background-color: #CED0CE;
  height: 100%;
  overflow: auto;
  width: 100%;
  text-align: center;
}

.MuiCheckbox-root.burglary	{
  color: green !important;
}


.MuiCheckbox-root.idUse	{
  color: blue !important;
}


.MuiCheckbox-root.theftUnder	{
  color: yellow !important;
}


.MuiCheckbox-root.theftOver	{
  color: orange !important;
}


.MuiCheckbox-root.harrassment	{
  color: purple !important;
}


.MuiCheckbox-root.propertyDamage	{
  color: pink !important;
}

.MuiCheckbox-root.tresspassing	{
  color: teal !important;
}


.MuiCheckbox-root.sexualAssault	{
  color: red !important;
}

.MuiCheckbox-root.prostitution	{
  color: black !important;
}


.MuiCheckbox-root.underageLiquor	{
  color: gray !important;
}


#selectText {
  margin-bottom: 10px;
  color: #000000;
}
