@import "https://assets.loupbrun.ca/fonts/booster/stylesheet.css";

html {
  font-family: "Booster Next FY", "Avenir Next", Avenir, sans-serif;
}

.fullsidebar {
  background-color: #CED0CE;
  height: 130%;
  overflow: auto;
  width: 100%;
  text-align: center;
}

.MuiCheckbox-root.burglary	{
  color: green;
}


.MuiCheckbox-root.idUse	{
  color: blue;
}


.MuiCheckbox-root.theftUnder	{
  color: yellow;
}


.MuiCheckbox-root.theftOver	{
  color: orange;
}


.MuiCheckbox-root.harrassment	{
  color: purple;
}


.MuiCheckbox-root.propertyDamage	{
  color: pink;
}

.MuiCheckbox-root.tresspassing	{
  color: teal;
}


.MuiCheckbox-root.sexualAssault	{
  color: red;
}

.MuiCheckbox-root.prostitution	{
  color: black;
}


.MuiCheckbox-root.underageLiquor	{
  color: gray;
}





#selectText {
  margin-bottom: 10px;
}
